/* line 6, scss/_typography.scss */
.namespace {
  font-family: verdana, sans-serif;
}

/* line 50, scss/_graphics.scss */
.portletBody {
  background: #eee;
  color: #444444;
}
/* line 53, scss/_graphics.scss */
.portletBody a {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  color: #364395;
}
/* line 56, scss/_graphics.scss */
.portletBody a:hover, .portletBody a:focus {
  color: #6976c8;
}
/* line 65, scss/_graphics.scss */
.portletBody .summaryBox h4 {
  margin: 0;
  padding: 0;
}
