//====================================
// HELPERS
//====================================
// Helpers are non-semantic, global utilities.
// Helpers should not include theme specifics: color, images, etc.
// Helpers are created as SASS Mixins so they can be "mixed-in" to other SASS declarations and not be forced into the markup.
// SASS Mixins:
// http://sass-lang.com/
// Many Helpers inspired by HTML5 Boilerplate:
// http://html5boilerplate.com/

// Hide only visually, but have it available for screenreaders: by Jon Neal.
// www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden
@mixin visuallyhidden() {
    border      : 0;
    clip        : rect(0 0 0 0);
    height      : 1px;
    margin      : -1px;
    overflow    : hidden;
    padding     : 0;
    position    : absolute;
    width       : 1px;
}

// Provide consistent inline-block behavior.
@mixin inline-block() {
    display: inline-block;
    vertical-align: middle;
}

// Simplified border radius helper.
@mixin border-radius($top-left, $top-right: $top-left, $bottom-right: $top-left, $bottom-left: $top-right) {
    border-top-left-radius: $top-left;
    border-top-right-radius: $top-right;
    border-bottom-right-radius: $bottom-right;
    border-bottom-left-radius: $bottom-left;
}

// The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
//   j.mp/bestclearfix
// Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page
@mixin clearfix() {
    &:before,
    &:after {
        content : "\0020";
        display : block;
        height  : 0;
        overflow: hidden;
    }
    &:after {
        clear : both;
    }
    zoom        : 1;
}

// Inline lists
// Call it on the UL or OL.
@mixin horizontal-list() {
  ol, ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
    display: inline-block;
  }
}
