/** 
* Aaron Zeckoski (aaronz@vt.edu) 
* Gonzalo Silverio
*/
/*PART 1 - reorderer*/
/*Styles for the drag and drop as in template item reorderer*/
/*outer container of a sortable list*/
DIV#itemTable{
	border: 1px solid #DFDFDF;
	margin: .5em 0;
	padding: 0 .5em;
	background-color: #EEEEEE;
}
/*outer container of a block sortable list*/
DIV#itemTableBlock{
	border: 1px solid #DFDFDF;
	margin: .5em 0;
	padding: 0 .5em;
	background-color: #EEEEEE;
}
/*inner container of a sortable list*/
DIV.itemList{
	list-style-type: none;
	marker-offset: 0;
	margin: 0;
	padding: 0
}
/*a sortable item*/
DIV.itemRow{
	width: 100%;
	padding: 0;
	margin: .3em 0;
	cursor: move;
	background: #fff;
	border: 1px solid #FFDD77;
}
/*a sortable block item*/
DIV.itemRowBlock{
	width: 100%;
	padding: 0;
	margin: .3em 0;
	cursor: move;
	background: #fff;
	border: 1px solid #FFDD77;
}
/*all rows of an item*/
.itemRow div{ padding: .2em; vertical-align: middle }
/*all rows of a block item*/
.itemRowBlock div{ padding: .2em; vertical-align: middle }
/*first line in a sortable item,item type and links*/
div.itemLine{
	clear: left;
	border-bottom: 1px solid #aaa;
	background: #eee
}
/*itemCheckbox,itemType,itemRight are the 3 children of itemLine*/
.itemCheckbox{
	cursor: default;
	float: left;
	padding: 0 1.5em 1px 3px
}
.itemCheckbox input{ margin: 0 }
span.itemType{ float: left; padding: 0 }
span.itemRight{
	font-size: 0.9em;
	float: right;
	white-space: nowrap;
	padding-right: 0.4em;
	padding-bottom: 0;
	padding-left: 0.4em;
	margin-top: -1.7em;
}
/*selectReorder,itemText,scaleDesc are the 3 children of the 2nd row*/
select.selectReorder{ font-weight: bold; float: left }
h4.itemText{
	display: inline;
	float: left;
	width: 50%;
	padding-top: 0em;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 1em;
	overflow: hidden;
	margin: 0.2em;
	font-weight: normal;
	position: static;
}
/*lines created with the rteditor are rendered as <p> - so flatten out a tad for alignment. */
.itemText p{ margin-top: 0 }
div.scaleDesc{
	float: right;
	text-align: right;
	white-space: nowrap
}
/*third line in a sortable item - an ol with sub items listed*/
.itemLine3{
	clear: both;
	margin: .5em .5em .5em 9.5em;
	list-style-position: outside;
	padding: 0;
	line-height: 150%;
	font-size: 0.95em;
	cursor:default
}
/*next 3 classes added/substracted script to Revert Order/Save Order and Group button bar after order has changed*/
.orderChanged{ background-color: #ffc; border: 1px solid #fd7 }
.itemOperations{
	border: 1px solid #ffa;
	background: #ffe;
	padding: .3em
}
.itemOperationsEnabled{
	border: 1px solid #fd7;
	background: #ffc;
	padding: .3em
}
/*some items in edit template list will not have checkboxes - such as text items,headers - so reserve that space since this is not a table*/
.checkPlaceholder{
	float: left;
	cursor: default;
	margin: 0;
	visibility: hidden;
	padding-top: 0px;
	padding-right: 2.4em;
	padding-bottom: 1px;
	padding-left: 3px;
}
/*next "selectable" collection added/susbstracted via script to give hints while grouping template items*/
.selectable{
	float: left;
	cursor: default;
	padding: 0 1.5em 1px 3px;
	background: url(../images/asterisk_orange.gif) 1.7em no-repeat
}
.selectable input{ margin: 0 }
.notselectable{
	float: left;
	cursor: default;
	margin: 0;
	padding: 1px 1.5em 1px 3px
}
.notselectable input{ margin: 0 }
.notselectable *{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50),progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) !important;
	-moz-opacity: .50 !important
}
/*PART 1 end*/
/*PART 2 - navigation, breadcrumbs*/
.breadCrumb{
	font-size: .9em;
	padding: .5em 0;
	background: #ffe;
	margin: 1em 0
}
.navIntraTool 	 .breadCrumb{ margin: 0; float: left; }
.breadCrumb li{
	display: inline;
	background: #ffe url(../images/breadSep.gif) center right no-repeat;
	padding: 0 1.2em 0  .5em;
	margin: 0
}
.breadCrumb li:first-child{ padding-left: 3px }
.breadCrumb li.lastCrumb{ display: inline; background-image: none }
/*sub-breadcrumb for wizards deep inside of a workflow*/
.messageStepGraphic{ height: 100%; overflow: hidden; margin: 1em 0 }
.messageStepGraphic div{ width: 100px; float: left }
.messageStepGraphic a{ text-decoration: none !important; font-size: 1em }
.messageStepGraphic a:hover{ text-decoration: none !important }
.messageStepGraphic div span{
	margin-top: 2em;
	font-size: 90%;
	text-align: center;
	color: #aaa;
	display: block
}
.first-cur-step span,.med-cur-step span,.last-cur-step span{ color: #666 !important }
.messageStepGraphic .first-noncur-step{
	background: #fff url(../images/first-noncur-step.gif) top left no-repeat
}
.messageStepGraphic .first-cur-step{
	background: #fff url(../images/first-cur-step.gif) top left no-repeat
}
.messageStepGraphic .med-noncur-step{
	background: #fff url(../images/med-noncur-step.gif) top left no-repeat
}
.messageStepGraphic .med-cur-step{
	background: #fff url(../images/med-cur-step.gif) top left no-repeat
}
.messageStepGraphic .last-noncur-step{
	background: #fff url(../images/last-noncur-step.gif) top left no-repeat
}
.messageStepGraphic .last-cur-step{
	background: #fff url(../images/last-cur-step.gif) top left no-repeat
}
/*PART 2 end*/
/*PART 3 - summary page  layout definitions*/
.summaryBox{ border: 1px solid #aaa; margin: 0 0 1em 0 }
.summaryBox .innerPanel{ padding: .5em }
.summaryCol1{
	width: 49.5%;
	height: 100%;
	overflow: hidden;
	float: left;
	margin-top: 1em
}
.summaryCol2{
	width: 49.5%;
	height: 100%;
	overflow: hidden;
	float: right;
	margin-top: 1em
}
.summaryCol1 h4,.summaryCol2 h4{
	background: #ddd !important;
	margin-top: 0;
	padding: .5em;
	border-bottom: 1px solid #aaa
}
.summaryBox table th{ background: #eee; border: none }
ol.summaryEvaluateList{ margin: 0px; padding-left: 2em }
/*PART 3 end*/
/*PART 4 - list of lists in item scales*/
.scaleOuterList{
	width: 60%;
	padding: 0;
	margin: 1em 0;
	list-style: decimal
}
.scaleInnerList{
	list-style: none;
	background: #fff;
	padding: 0 2em;
	margin: 0 0 1em 0
}
.scaleInnerList li{ padding-left: 1em; list-style-position: inside }
.scaleTitleLine{
	height: 1.5em;
	overflow: hidden;
	background: #eee;
	padding: .3em
}
.scaleTitleLineNum{ font-weight: bold; color: #333; float: left }
.scaleTitle{
	font-weight: bold;
	color: #333;
	width: 60%;
	float: left;
	padding-left: 1em
}
.scaleTitleLine .itemAction{ text-align: right; padding: 0 }
.idealScalePoint{ clear: both; padding: 0; text-align: right }
/*PART 4 end*/
/*PART 5 - listing of evaluation items, in evaluations, eval previews, template previews, from outermost to innermost*/
.itemListNew{
	width: 95%;
	border-color: #eee;
	border-style: solid;
	border-width: 2px;
	padding: .5em;
	list-style: none
}
.itemListNew legend{
	padding: .3em .7em;
	color: orange;
	font-size: 110%;
	margin-left: 1em
}
.itemListNew ol{ padding: 0; margin: 0 }
.itemListNew li{ padding: .3em; margin: .3em; border: 1px solid #eee }
.itemListNew li:hover .itemScalePanel{ border: 1px solid #aaa; background: #fff }
.itemListEval li{ list-style: none; padding: .5em; margin: .2em }
/*since these list items can contain list items,minimize inheritance*/
.itemListEval li ul li,.itemListEval li ol li{
	list-style: disc;
	list-style-position: inside;
	border: none;
	padding: .2em
}
.itemListEval li ol li{
	list-style: decimal;
	list-style-position: inside;
	border: none;
	padding: .2em
}
.itemListNew .itemListEval h4{ display: inline; color: #333 }
.itemListNew .itemListEval li:hover h4{ color: #000 }
.itemListEval label{ color: #333 }
.itemListEval label:hover{ color: #000 }
.itemScalePanel{ height: 31px; border: 1px solid #E1E1E1 }
.itemScalePanel:hover{ border: 1px solid #aaa }
.itemScalePanel td{ padding: .3em .5em }
.itemScalePanel .compactDisplayStart{ background: #FF8BA0 }
.itemScalePanel .compactDisplayEnd{ background: #8BE8A2 }
.itemScalePanel td.idealScale{ padding: 0 !important; vertical-align: top }
.itemScalePanel td.idealScale div{ margin: 0 }
.itemScalePanel td.idealScale label{ padding: 5px 2px .2em 2px; margin: 0 2px }
.itemScalePanel td.idealScale label:hover{
	border: 1px solid #aaa;
	background: #fff;
	margin: 0 1px
}
.idealScaleBack{
	width: 100%;
	display: block;
	position: absolute;
	z-index: 5
}
.idealScaleBack img{ width: 100%; height: 29px; overflow: hidden }
.fullVertical{ margin: .5em 2em }
.fullVertical ol{ padding-left: 0; margin: 0 }
.fullVertical ol li{
	margin: 0;
	padding: .3em;
	border: none;
	list-style: none  !important
}
.fullDisplayHorizontal td{ padding: 0 }
.fullVertical .na label{ padding-left: .2em }
/*2nd toolbar item links*/
.addItem{
	padding-left: 2em;
	background: transparent url(../images/add.png) center left no-repeat
}
.goToList{
	padding-left: 2em;
	background: transparent url(../images/application_view_list.png) center left no-repeat
}
.exportAction{
	padding-left: 2em;
	background: transparent url(../images/table_go.png) center left no-repeat
}
/*see block items*/
.steppedRowContainer{ border-collapse: collapse }
.steppedRowContainer tr:hover{ background: #eee }
.steppedRowContainer tr:hover td{ border-bottom: 1px solid #000 }
.steppedRowContainer tr:hover td.exclude{ border: none }


/*
remove input width in template and use these instead
*/
.scaleCell span {}
.scaleCell span img {}
.steppedRowContainer td.exclude span span{}
td.exclude input {padding:0px;margin:4px 10px 4px 4px;}
body:first-of-type  td.exclude input {padding:0px;margin:4px 12px 4px 4px;}
span.topLabel {}

/*
remove input width in template and use these instead
*/

.steppedRowContainer td{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc
}
.steppedRowContainer td td{ border: none }
.itemsListOddLine .steppedRowContainer tr:hover{ background: #fff }
.itemsListOddLine .steppedRowContainer td{
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff
}
.itemsListOddLine .steppedRowContainer td td{ border: none }
/*PART 5 end*/
/*PART 6 - report view styling*/
.itemListReport ol{ list-style: none; margin: 0; padding: 0 }
.itemListReport .showcomments,.itemListReport .showtextresponses{ margin: 1em; color: #666; margin-left: 3.5% }
.itemListReport .showcomments  ol,.itemListReport .showtextresponses ol{
	list-style: lower-alpha;
	list-style-position: outside;
	line-height: 150%
}
.itemListReport .showcomments  ol li,.itemListReport .showtextresponses ol li{ padding: .4em }
.itemListReport .showcomments li.itemsListOddLine,.itemListReport .showtextresponses li.itemsListOddLine{ background: #fff }
/*PART 6 end*/
/*PART 7 - messages*/
.alertMessage ul{ padding: 0; margin: 0; list-style: none }
.alertMessage ul li{ padding: 0; margin: 0; list-style: none }

/*
.label {outline:1px solid lime !important;width:40%;}
*/
.validFail{ /*class applied to the outermost parent of an element that has failed validation, can be styled, or children can be style as below*/}
.validFail .label{ color: #b11; font-weight: bold }
.validFail label{ color: #000 !important }
.validFailGlyph{	display:none; /* do not show if not child of .validFail */}
.validFail .validFailGlyph{
	display: inline;
	color: #b11;
	font-weight: bold;
	font-size: 100%;
	padding: 0
}

.compulsory{ /*class applied to the outermost parent of an element that has failed validation, can be styled, or children can be style as below*/}
.compulsory .label{ /* color: #b11; font-weight: bold */ }
.compulsory label{ /* color: #000 !important */ }
.compulsoryGlyph{	display:none; /* do not show if not child of .validFail */}
.compulsory .compulsoryGlyph{
	display: inline;
	color: #b11;
	font-weight: bold;
	font-size: 100%;
	padding: 0
}

.messageAlert{
	background: #FFEEEE url(../images/exclamation.gif) 5px 7px no-repeat;
	border: 1px solid #FF5555;
	color: #FF5555;
	margin: .5em 0
}
.messageInformation{
	background: #ffe url(../images/asterisk_yellow.gif) 5px 7px no-repeat;
	border: 1px solid #EEBB44;
	color: #d93;
	margin: .5em 0
}
.messageComfirm{
	background: #EEFFBB url(../images/accept.gif) 5px 7px no-repeat;
	border: 1px solid #CCEE66;
	color: #779900;
	margin: .5em 0
}
.messageAlert ul,.messageInformation ul,.messageComfirm ul{ list-style: none; padding: 3px; margin: 0 }
.messageAlert ul li,.messageInformation ul li,.messageComfirm ul li{ padding: 2px 0 2px 2em; margin: 0 }
.lighthighlight{ color: #000; padding-left: .5em }
/*PART 7 end*/
/*PART 8 - utils and variants from sakai rendering*/
.navIntraTool a.inactive{ text-decoration: none; font-weight: bold}
form{ margin: 0; display: inline }
.oddrow{ background-color: #E1E1E1 }
/*Special style to force divs to be able to work right when floating in all browsers*/
.cleaner{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0;
	padding: 0;
	background: transparent
}
.toggler{
	/*the clickable target of a disclosure pair*/
		cursor:pointer;
		color:#35b;
		font-weight: bold;
}
.toggler:hover{
	color:#33f
}
/*a button masquerading as a link*/
.makeLink{
	color: #27d;
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	text-decoration: underline;
	cursor: pointer; /* keep IE 6 and 7 from creating h-padding proportionate to the length of the string */
	overflow: visible
}
.makeLink:hover{ color: #33f; cursor: pointer }
/*cases of buttons masquerading as links in other locales*/
.itemAction input.makeLink{
	font-family: verdana,arial;
	font-size: 100%;
	color: #27d;
	padding: .2em .3em 1px 0;
	white-space: nowrap
}
.navIntraTool input.makeLink{
	font-family: verdana,arial;
	font-size: 100%;
	color: #35b;
	padding: 0;
	white-space: nowrap
}
.navIntraTool input.makeLink:hover{ color: #33f }
/*generic odd line background*/
.itemsListOddLine{ background-color: #eee }
/*sakai fieldsets are invisible,complex forms in this tool have the following class to organize themselves visually*/
.visibleFS{ border: 1px solid #ccc; padding: 1em .5em }
.visibleFS legend{ padding: .2em; color: orange; margin-left: 1em }
label.block{ padding: 0 0 .3em 0 }
/*squeeze the default rteditor into a smaller space*/	
.evalEditorSmall{ width: 50em }
/*delete button*/
.hideComment{ padding-left: 2em; background: transparent url(../images/cross.png) center left no-repeat}
.editComment { padding-left: 2em; background: transparent url(../images/pencil.png) center left no-repeat}



.actionArrow{
background:#FFEEEE url(/library/image/sakai/collapse.gif) no-repeat scroll left 3px;
font-weight:bold;
padding:2px 5px 6px 13px;
}

.removeLink {
	background:transparent url(/library/image/silk/delete.png) no-repeat scroll left center;
	padding-left:1.6em;
	text-indent: 110%;
	overflow: hidden;
	height: 25px;
	width: 25px;
}
.editLink {
background:transparent url(/library/image/silk/pencil.png) no-repeat scroll left center;
padding-left:1.6em;
}
.preview {
/*background:transparent url(/library/image/silk/control_play.png) no-repeat scroll left center;*/
padding-left:1.6em;
}
a.more {
background-image: url(../images/collapsed.gif);
background-position:100% center;
background-repeat:no-repeat;
padding-left:10px;
padding-right:15px
}
a.less {
background-image: url(../images/expanded.gif);
background-position:100% center;
background-repeat:no-repeat;
padding-right:15px;
padding-left:10px;
}
.removeArrow {
	background-image: url(/library/image/sakai/expand-collapse.gif);
	height: 7px;
	width: 10px;
	background-repeat: no-repeat;
	margin-left: 97%
}
.removeDiv {
	margin-top: -10px;
	margin-left: 100%
}

.removeFooter{
	background-color: #EEEEEE;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
}
.removeBody{
	background-color: #EEEEEE;
	margin-bottom: -5px;
	margin-top: -5px;
}
.childControls {
	color: #CCCCCC;
	font-size: 10px;
}
.childItem:hover {
	background-color: #EEEEEE;
}
.childItemDrag {
	cursor: move;
	}
/*************************************/
/* Inline Edit */
/* hover effect over editable element */
.inlineEdit-invitation {
border : 1px solid #999;
 background : lightyellow;
 cursor : pointer;
 /*margin : -1px;*/
}
.inlineEdit-tooltip {
 position : absolute;
 background : #CCC;
 border : 1px solid #999;
 font : normal 75% sans-serif;
 padding : 3px 5px;
}
.inlineEdit-field {
}

/*Adapted from the SideBar Nav, this is for inlinePopups
*/

.popupMenu li.selectedTool span{
  font-weight: bold;
  background-color: #E0E2E4;
  display: block;
  padding-bottom : 2px;
  padding-right : 10px !important;
  padding-left : 10px;
  padding-top : 2px;
  margin-bottom : 0px;
  margin-left : 0px;
  margin-right : 0px;
  margin-top : 0px;
  background-position : center left !important;
  background-repeat : no-repeat !important;
  /*filter:alpha(opacity=50);
  opacity: 0.50;
  moz-opacity: 0.50;*/
}

.popupMenu li span{
/*comment this line for a return to sanity
display:none*/
}



.popupMenu li a:link,#toolMenu li a{
display: block;
text-decoration: none;
color: #333;
padding-bottom : 2px;
padding-left : 10px !important;
padding-right : 10px;
padding-top : 2px;
margin-bottom : 0px;
margin-left : 0px;
margin-right : 0px;
margin-top : 0px;
background-position : center left !important;
background-repeat : no-repeat !important;

}
.popupMenu li a:hover{
	text-decoration: none;
	color: #333;
	background: #D2EAF0;
}

.popupMenu li a.selected{
	text-decoration: none;
	color: #333;
	cursor: text;
}

.popupMenu li a.selected:hover{
	text-decoration: none;
	color: #333;
	cursor: text;
}
.popupMenu{
	width: 10.2em;
	padding: 0;
	margin: 0;
	color: #333;
	background: #F3F4F5;
}

.popupMenu ul{
	width:auto;
	list-style: none;
	margin: 0;
	padding-right: 0;
	padding-left: 0;
}

.popupMenu li{

	margin: 0;
	width: auto;
	padding: 0;
	border-bottom: 1px solid #fff;
	text-align: left;
}
/* Overlay */
#overlay {

     visibility: hidden;

     position: absolute;

     left: 0px;

     top: 0px;

     width:100%;

     height:100%;

     text-align:center;

     z-index: 1000;

}
#overlay div {

     width:300px;

     margin: 100px auto;

     background-color: #fff;

     border:1px solid #000;

     padding:15px;

     text-align:center;

}
