.portletBody .summaryBox .listHier th, .portletBody .summaryBox .listHier td {
  border: none !important;
  padding: 0 1em;
}
.portletBody .summaryBox .listHier td {
  padding: 0.5em 1em;
}
.portletBody .summaryBox .listHier tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.evaluation .content fieldset {
  border: none;
}
.evaluation .content fieldset > legend {
  padding: 0;
  margin: 0;
}
.evaluation .content .fake-fieldset, .evaluation .content .fieldset, .evaluation .content .legend {
  border: none;
}
.evaluation .content .legend {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: static;
}
.evaluation .content .itemListNew, .evaluation .content .itemListEval {
  border: none;
}
.evaluation .content .itemListNew li, .evaluation .content .itemListNew .itemScalePanel, .evaluation .content .itemListNew .fullVertical li, .evaluation .content .itemListNew .fullDisplayHorizontal li, .evaluation .content .itemListEval li, .evaluation .content .itemListEval .itemScalePanel, .evaluation .content .itemListEval .fullVertical li, .evaluation .content .itemListEval .fullDisplayHorizontal li {
  border: none !important;
}
.evaluation .content .itemListNew .itemsListOddLine, .evaluation .content .itemListEval .itemsListOddLine {
  background: none;
}
.evaluation .content .item {
  margin-bottom: 15px;
  border-bottom: 1px solid #edf0f4;
}
.evaluation .content .item .title {
  color: black;
}
.evaluation .content .item .title .delineator .dot {
  display: none;
}
.evaluation .content .item .title .delineator .paren {
  display: inline-block;
}
.evaluation .content .item .title .required {
  color: #bb1111;
}
.evaluation .content .response-list label {
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: gray;
  text-shadow: none;
  background: white;
  border: 1px solid white;
}
.evaluation .content .response-list label:hover, .evaluation .content .response-list label:focus {
  color: #444444;
  background: #ee4444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ffa500));
  background-image: -webkit-linear-gradient(#ffffff, #ffa500);
  background-image: -moz-linear-gradient(#ffffff, #ffa500);
  background-image: -o-linear-gradient(#ffffff, #ffa500);
  background-image: -ms-linear-gradient(#ffffff, #ffa500);
  background-image: linear-gradient(#ffffff, #ffa500);
  border-color: #ffa500;
}
.evaluation .content .response-list .selected {
  font-family: verdana, sans-serif;
  font-size: 11px;
  color: white;
  text-shadow: none;
  background: #264c83;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3163ab), color-stop(100%, #1b355b));
  background-image: -webkit-linear-gradient(#3163ab, #1b355b);
  background-image: -moz-linear-gradient(#3163ab, #1b355b);
  background-image: -o-linear-gradient(#3163ab, #1b355b);
  background-image: -ms-linear-gradient(#3163ab, #1b355b);
  background-image: linear-gradient(#3163ab, #1b355b);
  border: 1px solid #0f1e34;
}
.evaluation .content .response-list .selected:hover, .evaluation .content .response-list .selected:focus {
  color: white;
  background: #264c83;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3163ab), color-stop(100%, #1b355b));
  background-image: -webkit-linear-gradient(#3163ab, #1b355b);
  background-image: -moz-linear-gradient(#3163ab, #1b355b);
  background-image: -o-linear-gradient(#3163ab, #1b355b);
  background-image: -ms-linear-gradient(#3163ab, #1b355b);
  background-image: linear-gradient(#3163ab, #1b355b);
  border-color: #0f1e34;
}
.evaluation .item-group {
  border-bottom: 2px solid #e6e6e6;
}
.evaluation .item-group .title {
  color: black;
}
.evaluation .item-group .item {
  border-top: 2px solid #e6e6e6;
  border-bottom: none;
}
.evaluation .matrix legend {
  color: black;
}

.preview-item .highlightPanel {
  border: none;
}
